$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

body {
  max-width: 100vw;
  font-family: Roboto;
  font-size: 1rem;
  color: $dark-slate-grey;

  @at-root .card {
    width: 99.7584%;
    display: flex;
    flex-direction: column-reverse;

    @at-root .main-content {
      padding: 40px 20px;

      @at-root .main-content__title {
        font-family: RobotoBold;
        font-size: 2.6rem;
        margin-bottom: 20px;
      }

      @at-root .main-content__desc {
        line-height: 1.5;
        margin-bottom: 20px;
      }

      @at-root .main-content__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        @at-root .main-content__item {
          display: flex;
          align-items: start;
          gap: 10px;

          @at-root .main-content__item-text {
            line-height: 1.5;
          }
        }
      }

      @at-root .main-content__form-container {
        @at-root .main-content__error-container {
          display: flex;
          justify-content: space-between;

          @at-root .main-content__error-text {
            font-family: RobotoBold;
            font-size: 0.8rem;
            color: #ff746c;
            display: none;
          }

          @at-root .main-content__error-text.active {
            display: inline-block;
          }
        }

        @at-root .main-content__form-label {
          font-family: RobotoBold;
          font-size: 0.8rem;
        }

        @at-root .main-content__form-input {
          width: 100%;
          height: 55px;
          padding: 20px;
          border: 1px solid $grey;
          border-radius: 5px;
          box-sizing: border-box;
          margin: 10px 0 26px 0;
          font-size: 1rem;
          color: $dark-slate-grey;
          font-family: Roboto;

          @at-root .main-content__form-input::placeholder {
            color: $grey;
          }

          @at-root .main-content__form-input:focus {
            outline: none;
            border: 1px solid $dark-slate-grey;
          }

          @at-root .main-content__form-input.error {
            border: 1px solid #ff746c;
            color: #ff746c;
            background: #ff736c44;
          }
        }

        @at-root .main-content__form-button {
          width: 100%;
          height: 55px;
          box-sizing: border-box;
          border: none;
          border-radius: 10px;
          background-color: $dark-slate-grey;
          color: white;
          font-family: Roboto;
          font-size: 1rem;
          font-weight: 600;

          @at-root .main-content__form-button:hover,
            .main-content__form-button:active {
            cursor: pointer;
            background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
            box-shadow: 0 10px 25px 0 hsla(346, 100%, 66%, 0.6);
          }
        }
      }
    }

    @at-root .illustration-container {
      width: 100%;

      @at-root .illustration-container__illustration-desktop {
        display: none;
      }

      @at-root .illustration-container__illustration-mobile {
        display: block;
        width: 100%;
      }
    }
  }

  @at-root .success-card {
    position: fixed;
    z-index: 2;
    inset: 0 0 0 0;
    background-color: $white;
    padding: 30px 20px;
    animation: appear 0.5s;
    display: none;

    @at-root .success-card__card {
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 25px;
    }

    @at-root .success-card__icon {
      width: 65px;
      margin: 30% 0 15px 0;
    }

    @at-root .success-card__title {
      font-family: RobotoBold;
      font-size: 2.8rem;
    }

    @at-root .success-card__desc {
      line-height: 1.5;

      @at-root .success-card__desc_bold {
        font-family: RobotoBold;
      }
    }

    @at-root .success-card__button {
      width: 90%;
      height: 55px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 6%;
      border: none;
      border-radius: 10px;
      background-color: $dark-slate-grey;
      font-size: 1rem;
      color: $white;

      @at-root .success-card__button:hover,
        .success-card__button:active {
        cursor: pointer;
        background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
        box-shadow: 0 10px 25px 0 hsla(346, 100%, 66%, 0.6);
      }
    }

    @at-root .success-card.active {
      display: block;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @at-root .attribution {
    a {
      text-decoration: none;
      color: $tomato;
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: $dark-slate-grey;

    @at-root .card {
      width: 625px;
      height: 400px;
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
      background: $white;
      border-radius: 30px;
      padding: 22px;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @at-root .main-content {
        flex-basis: 55%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;

        @at-root .main-content__title {
          font-size: 2.5rem;
          margin-bottom: 10px;
        }

        @at-root .main-content__desc {
          font-size: 0.8rem;
          margin-bottom: 10px;
        }

        @at-root .main-content__list {
          margin-bottom: 15px;

          @at-root .main-content__item {
            @at-root .main-content__list-icon {
              width: 15px;
            }

            @at-root .main-content__item-text {
              font-size: 0.8rem;
            }
          }
        }

        @at-root .main-content__form-container {
          @at-root .main-content__form-input {
            height: 40px;
            font-size: 0.8rem;
            padding: 10px;
            margin: 10px 0;
          }

          @at-root .main-content__form-button {
            height: 40px;
            font-size: 0.8rem;
            border-radius: 5px;
          }
        }
      }

      @at-root .illustration-container {
        width: fit-content;

        @at-root .illustration-container__illustration-desktop {
          display: block;
          height: 100%;
        }

        @at-root .illustration-container__illustration-mobile {
          display: none;
        }
      }
    }

    @at-root .success-card {
      display: block;
      display: none;
      background: $dark-slate-grey;

      @at-root .success-card__card {
        background: $white;
        width: 350px;
        position: relative;
        inset: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 40px;
        box-sizing: border-box;
        gap: 15px;

        @at-root .success-card__icon {
          width: 40px;
          margin: 0 0 10px 0;
        }

        @at-root .success-card__title {
          font-size: 2rem;
        }

        @at-root .success-card__desc {
          font-size: 0.8rem;
          margin-bottom: 10px;
        }

        @at-root .success-card__button {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          position: unset;
          transform: none;
          font-size: 0.8rem;
        }
      }
    }
  }

  @at-root .attribution {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    z-index: 1;

    a {
      text-decoration: none;
      color: $tomato;
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    @at-root .card {
      width: 835px;
      height: 560px;

      @media only screen and (max-height: 630px) {
        @at-root .card {
          width: 805px;
          height: 465px;
        }
      }

      @at-root .main-content {
        padding: 30px 0 30px 30px;
        flex-basis: 50%;

        @at-root .main-content__title {
          font-size: 3.4rem;
          margin-bottom: 20px;
        }

        @at-root .main-content__desc {
          font-size: 1rem;
          margin-bottom: 20px;
        }

        @at-root .main-content__list {
          margin-bottom: 30px;

          @at-root .main-content__item {
            @at-root .main-content__list-icon {
              width: 20px;
            }

            @at-root .main-content__item-text {
              font-size: 1rem;
            }
          }
        }

        @at-root .main-content__form-container {
          @at-root .main-content__form-input {
            font-size: 1rem;
            height: 55px;
            padding: 20px;
            margin: 10px 0 20px 0;
          }
        }

        @at-root .main-content__form-button {
          font-size: 1rem;
          height: 55px;
          border-radius: 10px;
        }
      }
    }

    @at-root .success-card {
      @at-root .success-card__card {
        width: 460px;
        height: 460px;
        gap: 20px;
        padding: 50px;
        gap: 20px;

        @at-root .success-card__icon {
          width: 55px;
        }

        @at-root .success-card__title {
          font-size: 3rem;
        }

        @at-root .success-card__desc {
          font-size: 1rem;
          margin-bottom: 15px;
        }

        @at-root .success-card__button {
          height: 50px;
          border-radius: 8px;
          font-size: 1rem;
        }
      }
    }
  }
}
